.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-between {
  display: flex;
  justify-content: space-between;
}
.current {
    height: 37vh;
    background-color: #fff;
    overflow: hidden;
    .topText {
      margin: 23rpx 27rpx;
      font-weight: 600;
    }
    .chosse-time {
      display: flex;
       height: 100%;
    .left {
      width: 20%;
      height: 100%;
      border-right: 2rpx solid #ccc;
      .scroll {
        height: 100%;
        .ul{
          // margin-bottom: 100rpx;
          .li {
            width: 100%;
            height: 53rpx;
            color: #000;
            text-align: center;
            line-height: 53rpx;
            list-style: none;
          }
          .leftAddClass {
           color: #fe7a38;
           border-left: 20rpx solid #fe7a38;
          }
        }
      }
      .placeholder {
        width: 1rpx;
        height: 90rpx;
        
      }
    }
    .right {
      flex: 1;
      margin: 0 27rpx;
      .rightTop{
        width: 100%;
        height: 53rpx;
        border: 2rpx solid #fe7a38;
        border-radius: 53rpx;
        text-align: center;
        line-height: 53rpx;
        margin-bottom: 13rpx;
      }
      .rightDown {
        flex-wrap: wrap;
        .block {
          width: 107rpx;
          height: 53rpx;
          margin: 13rpx 0;
          text-align: center;
          line-height: 53rpx;
          border-radius: 53rpx;
          color: #999;
          border: 2rpx solid #999;
          font-weight: 400;
        }
        .addClass {
          color: #fff;
          background: linear-gradient(to right, #f7a216, #fe6205);
          border: 1rpx solid #f7a216;
        }
      }
      .hotTime {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 25rpx 0;
        .txt {
        font-weight: 600;
        }
        .block-long {
          height: 60rpx;
          color: #999;
          border: 1rpx solid #999;
          border-radius: 30rpx;
        }
        .hotAddClass {
          color: #fff;
          background: linear-gradient(to right, #f7a216, #fe6205);
          border: 1rpx solid #f7a216;
        }
      }
    }
    }
   
  }