@font-face {
  font-family: "iconfont"; /* Project id 3530538 */
  src: url('@/static/iconfont/iconstyles/iconfont.woff2?t=1661336216960') format('woff2'),
       url('@/static/iconfont/iconstyles/iconfont.woff?t=1661336216960') format('woff'),
       url('@/static/iconfont/iconstyles/iconfont.ttf?t=1661336216960') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shipin2:before {
  content: "\e622";
}

.icon-zengjiatianjiajiahao:before {
  content: "\e62a";
}

.icon-cha:before {
  content: "\e68b";
}

.icon-shangchuan:before {
  content: "\e665";
}

.icon-shipin:before {
  content: "\e644";
}

.icon-zanting:before {
  content: "\e61e";
}

.icon-MP:before {
  content: "\e61b";
}

.icon-weibiaoti1:before {
  content: "\e62e";
}

.icon-jinbi:before {
  content: "\e601";
}

.icon-youhuiquan:before {
  content: "\e764";
}

.icon-xiala:before {
  content: "\e65c";
}

.icon-wj-cznr:before {
  content: "\e792";
}

.icon-dianhua:before {
  content: "\e8c3";
}

.icon-xiazaidaoru:before {
  content: "\e8c6";
}

.icon-zhuanfa:before {
  content: "\e604";
}

.icon-fanhui:before {
  content: "\e600";
}

.icon-kaiguan:before {
  content: "\e621";
}

.icon-duihao:before {
  content: "\eaf1";
}

