.white{
  color: white;
}
.black{
  color: black;
}
.gray{
  color: #787878;
}
.pruple{
  color: #7E70F1;
}
.bawhite{
  background-color: white;
}
.bapruple{
  background-color: #7E70F1;
}
.bablack{
  background-color: black;
}
.bagreinput{
  background-color: #14E9FC;
}
.bacamer{
  background-color: #333333;
}
.bacamerout{
  background-color: #787878;
}
.bamyava{
  background-color: #3C3C3C;
}
.babotton{
  background: linear-gradient(to right, #2de6f8 , #f76fed);
}