.white{
  color: white;
}
.black{
  color: black;
}
.gray{
  color: #787878;
}
.pruple{
  color: #7E70F1;
}
.moneycolor{
  color: #F0CC92;
}
.vipcolor{
  color: #3a1c05;
}
.viptext{
  background-color: #f0cc92;
}
.vipback{
  background: linear-gradient(to right, #ffefd6 , #dfaf80);
}
.ba-f7{
  background-color: #F7F7F7;
}
.bayello{
  background-color: #F9B502;
}
.bawhite{
  background-color: white;
}
.bg-father{
  background: rgba(255,255,255,0.1);
}
.bg-trans{
  background-color: transparent;
}
.bapruple{
  background-color: #7E70F1;
}
.bablack{
  background-color: black;
}
.bagreinput{
  background-color: #14E9FC;
}
.bacamer{
  background-color: #333333;
}
.bacamerout{
  background-color: #787878;
}
.bamyava{
  background-color: #3C3C3C;
}
.bacamerPhto{
  background-color: #3F028B;
}
.babotton{
  background: linear-gradient(to right, #2de6f8 , #f76fed);
}
.bashare{
  background: linear-gradient(to right, #f76fed , #2de6f8);
}