  .container {
    height: 100vh;
    background-image: url(https://static.qiniuyun.highvenue.cn/image/DanceBGi1.jpg);
    .btn-login {
      width: 90%;
      height: 100rpx;
      border-radius: 50rpx;
      text-align: center;
      font-size: 35rpx;
      line-height: 100rpx;
      background-image: linear-gradient(to bottom, #2de6f8, #f76fed);
    }
    // 按钮下方提示消息的样式
    .tips-text {
      margin-top: 50rpx;
    }
    .userInfo{
      margin-top: 44rpx;
      padding: 0 26rpx;
      .avatar {
        width: 174rpx;
        height: 174rpx;
        border: 4rpx solid #7C6DFB;
        border-radius: 90rpx;
        background-size: cover;
      }
      .userName {
        width: 330rpx;
        margin-left: 26rpx;
      }
      .right {
        width: 150rpx;
        .setting {
          width: 34rpx;
          height: 36rpx;
        }
      }
    }
    .bannerInfo{
      height: 408rpx;
      margin: 40rpx 26rpx;
      background-image: url(https://static.qiniuyun.highvenue.cn/image/hidancing_banner.jpg);
    }
    /deep/ .choose-father{
      margin-top: 35rpx;
      font-size: 24rpx;
      .icon {
        margin-left: 20rpx;
      }
      .second-text {
        padding-left: 200rpx;
      }
     }
	}