.flex{
  display: flex;
}
.flex-center{
  justify-content: center;
  align-items: center;
}
.justify-between{
  justify-content: space-between;
}
.justify-around{
  justify-content: space-around;
}
.justify-center{
  justify-content: center;
}
.justify-start{
  justify-content: flex-start;
}
.justify-end{
  justify-content: flex-end;
}
.flexwrap{
  flex-wrap: wrap;
}
.alitem-center{
  align-items: center;
}
.alitem-end{
  align-items: flex-end;
}
.alself-center{
  align-self: center;
}
.flex-direction{
  flex-direction: column;
}
.margin5{
  margin: 5rpx 5rpx;
}
.marginy20{
  margin: 40rpx 0rpx;
}
.marginx5{
  margin: 0rpx 10rpx;
}
.marginx10{
  margin: 0rpx 20rpx;
}
.marginxy10{
  margin: 20rpx 20rpx;
}
.marginxy20{
  margin: 40rpx 30rpx;
}
.margleftchi50{
  margin-left: 50%;
}
.margleft5{
  margin-left: 10rpx;
}
.margleft10{
  margin-left: 20rpx;
}
.margleft25{
  margin-left: 25rpx;
}
.margleft40{
  margin-left: 40rpx;
}
.margtop10{
  margin-top: 10rpx;
}
.margtop20{
  margin-top: 20rpx;
}
.margtop30{
  margin-top: 30rpx;
}
.margtop40{
  margin-top: 40rpx;
}
.margtop50{
  margin-top: 50rpx;
}
.margtop60{
  margin-top: 60rpx;
}
.margtop120{
  margin-top: 120rpx;
}
.margtop200{
  margin-top: 200rpx;
}
.margtop50zhi{
  margin-top: 50%;
}
.margtop35zhi{
  margin-top: 35%;
}
.margtop30zhi{
  margin-top: 30%;
}
.margright10{
  margin-right: 10rpx;
}
.margright20{
  margin-right: 20rpx;
}
.margright40{
  margin-right: 40rpx;
}
.margright80{
  margin-right: 80rpx;
}
.marginbottom10{
  margin-bottom: 20rpx;
}
.marginbottom15{
  margin-bottom: 30rpx;
}
.marginbottom20{
  margin-bottom: 40rpx;
}
.paddingx6{
  padding: 0rpx 12rpx;
}
.paddingx12{
  padding: 0rpx 24rpx;
}
.paddingx25{
  padding: 0rpx 50rpx;
}
.paddingy20{
  padding: 40rpx 0rpx;
}
.z-inde1{
  z-index: 1;
}
.z-inde10{
  z-index: 10;
}
.absolute{
  position: absolute;
}
.relative{
  position: relative;
}
.fixed{
  position: fixed;
}
.top0{
  top: 0rpx;
}
.top20{
  top: 20rpx;
}
.top-half{
  top: 50%;
} 
.top-70{
  top: 70%;
} 
.top-80{
  top: 80%;
} 
.left-half{
  left: 50%;
} 
.left20{
  left: 20rpx;
}
.left0{
  left: 0rpx;
}
.right0{
  right: 0rpx;
}
.right20{
  right: 20rpx;
}
.right100{
  right: 100rpx;
}
.bottom0{
  bottom: 0rpx;
}
.bottom30{
  bottom: 30rpx;
}
.bottom50{
  bottom: 50rpx;
}
.bottom60{
  bottom: 60rpx;
}
.bottom80{
  bottom: 80rpx;
}
.bottom100{
  bottom: 100rpx;
}
.bottom140{
  bottom: 140rpx;
}
.bottom200{
  bottom: 200rpx;
}
.translate--50{
  transform: translate(-50%,-50%);
}
.translate-50{
  transform: translate(50%,50%);
}
.translatex-50{
  transform: translateX(-50%);
}
.translatex50{
  transform: translateX(50%);
}
.translatey-50{
  transform: translateY(-50%);
}
.translatey50{
  transform: translateY(50%);
}
.translatey100{
  transform: translateY(100%);
}