.fon16{
  font-size: 16rpx;
}
.fon20{
  font-size: 20rpx;
}
.fon24{
  font-size: 24rpx;
}
.fon28{
  font-size: 28rpx;
}
.fon32{
  font-size: 32rpx;
}
.fon36{
  font-size: 36rpx;
}
.fon40{
  font-size: 40rpx;
}
.fon50{
  font-size: 50rpx;
}
.fonweight{
  font-weight: 550;
}
.boradiu12{
  border-radius: 12rpx;
}
.boradiu16{
  border-radius: 16rpx;
}
.boradiu20{
  border-radius: 20rpx;
}
.boradiu24{
  border-radius: 24rpx;
}
.height-0{
  height: 0rpx;
}
.height-full{
  height: 100%;
}
.heichi60{
  height: 60rpx;
}
.width-shi{
  width: 100vw;
}
.width-0{
  width: 0rpx;
}
.widchi2{
  width: 2rpx;
}
.width60{
  width: 60%;
}
.width80{
  width: 80%;
}
.width-full{
  width: 100%;
}
.background-cover{
  background-size: cover;
}
.display-block{
  display: inline-block;
}
.ellipsis {
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}