.fon16{
  font-size: 16rpx;
}
.fon20{
  font-size: 20rpx;
}
.fon24{
  font-size: 24rpx;
}
.fon28{
  font-size: 28rpx;
}
.fon32{
  font-size: 32rpx;
}
.fon36{
  font-size: 36rpx;
}
.fon40{
  font-size: 40rpx;
}
.fon50{
  font-size: 50rpx;
}
.fon60{
  font-size: 60rpx;
}
.fonweight{
  font-weight: 600;
}
.boradiu8{
  border-radius: 8rpx;
}
.boradiu12{
  border-radius: 12rpx;
}
.boradiu16{
  border-radius: 16rpx;
}
.boradiu20{
  border-radius: 20rpx;
}
.boradiu24{
  border-radius: 24rpx;
}
.boradiu30{
  border-radius: 30rpx;
}
.boradiu42{
  border-radius: 42rpx;
}
.boradiu50{
  border-radius: 50rpx;
}
.boradiu90{
  border-radius: 90rpx;
}
.boradiuoban{
  border-radius: 50%;
}
.boradiuoverall{
  border-radius: 100%;
}
.heichi100{
  height: 100vh;
}
.heichi90{
  height: 90vh;
}
.heichi80{
  height: 80vh;
}
.heichi25shi{
  height: 25vh;
}
.heichi20shi{
  height: 20vh;
}
.height-full{
  height: 100%;
}
.height-90{
  height: 90%;
}
.height-80{
  height: 80%;
}
.height-70{
  height: 70%;
}
.height-30{
  height: 30%;
}
.height-20{
  height: 20%;
}
.height-15{
  height: 15%;
}
.height-12{
  height: 12%;
}
.height-10{
  height: 10%;
}
.height-8{
  height: 8%;
}
.height-5{
  height: 5%;
}
.height-0{
  height: 0rpx;
}
.heichi20{
  height: 20rpx;
}
.heichi30{
  height: 30rpx;
}
.heichi36{
  height: 36rpx;
}
.heichi40{
  height: 40rpx;
}
.heichi50{
  height: 50rpx;
}
.heichi60{
  height: 60rpx;
}
.heichi70{
  height: 70rpx;
}
.heichiduan73{
  height: 73rpx;
}
.heichiduan80{
  height: 80rpx;
}
.heichiduan90{
  height: 90rpx;
}
.heichixu95{
  height: 95rpx;
}
.heichixu100{
  height: 100rpx;
}
.heichixu110{
  height: 110rpx;
}
.heichixu120{
  height: 120rpx;
}
.heichixu80{
  height: 160rpx;
}
.heichixu85{
  height: 170rpx;
}
.heichishi100{
  height: 200rpx;
}
.heichishi110{
  height: 220rpx;
}
.heichifan120{
  height: 240rpx;
}
.heichifan150{
  height: 300rpx;
}
.heichifan190{
  height: 380rpx;
}
.heichi210{
  height: 420rpx;
}
.heichi240{
  height: 480rpx;
}
.widthtext{
  width: fit-content;
}
.width-shi{
  width: 100vw;
}
.width-90{
  width: 90vw;
}
.width25{
  width: 25%;
}
.width30{
  width: 30%;
}
.width50{
  width: 50%;
}
.width40{
  width: 40%;
}
.width60{
  width: 60%;
}
.width70{
  width: 70%;
}
.width75{
  width: 75%;
}
.width80{
  width: 80%;
}
.width90{
  width: 90%;
}
.width95{
  width: 95%;
}
.width-full{
  width: 100%;
}
.width-0{
  width: 0rpx;
}
.widchi2{
  width: 2rpx;
}
.widchi6{
  width: 6rpx;
}
.widchiyuan20{
  width: 20rpx;
}
.widchi15{
  width: 30rpx;
}
.widchi17{
  width: 34rpx;
}
.widchi20{
  width: 40rpx;
}
.widchi25{
  width: 50rpx;
}
.widchi30{
  width: 60rpx;
}
.widchi35{
  width: 70rpx;
}
.widchi40{
  width: 80rpx;
}
.widchi45{
  width: 90rpx;
}
.widchi50{
  width: 100rpx;
}
.widchi55{
  width: 110rpx;
}
.widchi60{
  width: 120rpx;
}
.widchi75{
  width: 150rpx;
}
.widchi85{
  width: 170rpx;
}
.widchi100{
  width: 200rpx;
}
.widchi110{
  width: 220rpx;
}
.widchi120{
  width: 240rpx;
}
.widchi150{
  width: 300rpx;
}
.widchi160{
  width: 320rpx;
}
.widthchi210{
  width: 420rpx;
}
.widthchi300{
  width: 600rpx;
}
.line-hei20{
  line-height: 20%;
}
.line-heichi30{
  line-height: 30rpx;
}
.line-heichi40{
  line-height: 40rpx;
}
.line-heichi50{
  line-height: 50rpx;
}
.line-heichi60{
  line-height: 60rpx;
}
.line-heichi80{
  line-height: 80rpx;
}
.line-heichi90{
  line-height: 90rpx;
}
.line-heichi100{
  line-height: 100rpx;
}
.line-heichi110{
  line-height: 110rpx;
}
.line-heichi170{
  line-height: 170rpx;
}
.letter-spacing1{
  letter-spacing: 2rpx;
}
.background-cover{
  background-size: cover;
}
.display-block{
  display: inline-block;
}
.overflow-hidden{
  overflow: hidden;
}
.text-center{
  text-align: center;
}
.opcity10{
  opacity: 1;
}
.opcity6{
  opacity: 0.6;
}
.opcity2{
  opacity: 0.2;
}
.opcity3{
  opacity: 0.3;
}
.ellipsis {
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}